<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/hackathon.css">
</head>
<title>WCE TALKS</title>

<body>
    <header class="header">
        <div>
            
            <div class="talks"> <a href="/home"><img src="css/imag/wcetalks.png" alt="" height=" 70px"></a></div>
            <div>
                <h2>WCE TALKS</h2>
            </div>
            <div class="wcelogo"> <img src="css/imag/wcelogo.png" alt="" height=" 68px"></div>
            <div class"box"> <input type="text" autofocus name="search" class="round" placeholder="Search blogs.." />
                <input type="submit" class="corner" value="" />
    
                <div class="userlogo" border-radius="10px">
                    <a href="#">
                        <img src="css/imag/user.png" alt="image" border-radius="10px" width="34px" height="34px">
                        
                    </a>
                </div>
            </div>
            <div class="dropdown">
                <select name="username" id="cars">
                    <option value="volvo">test</option>
                    <!-- <option value="saab">Swarada</option>
                    <option value="mercedes">Himanshu</option>
                    <option value="audi">jyotiraditya</option> -->
                </select>
            </div>
            <div class="bitn">
                <button class="btn" width="60px" height="50px"> <a href="/">Logout</a> </button>
            </div>
        </div>
        
        
        
        
        <div>
            
           
        </div>
    </header>
    <div class="mid">
        <ul class="navbar">
            <li id="home"><a href="/home" class="active">Home</a></li>
            <li id="Technical"><a href="#">Technical</a></li>
            <li id="Non-Tech"><a href="#">Non-Tech</a></li>
            <li id="More on WCE TALKS"><a href="#">More on WCE TALKS</a></li>
            <li id="Create your own Content ">
                <div class="dropdown1">
                    <a href="#"> <select name="username" id="cars">
                        <option value="volvo">Create Your Content</option>
                            <option value="saab">Article</option>
                            <option value="mercedes">Promote</option>
                            <option value="audi">Blog</option>
                        </select>
                    </a>
                </div>
                
            </li>
        </ul>
    </div>