<%-include("partials/header_forum")-%>

    <!-- more -->
    <div class="subforum">
        <div class="subforum-title">
            <h1>General information</h1>
            
            
        </div>
        <div class="subforum-row">
            <div class="subforum-icon subforum-column center">
                <!-- space for subforum-icon -->
                <!-- <i class="fa fa-car"></i> -->
            </div>
            <div class="subforum-description subforum-column">
                <h1><a href="">Description Title:</a></h1>
                <p>Description content</p> 
                <!-- Add the description content above -->
            </div>
            <div class="subforum-stats subforum-column center">
                <span>24 Posts | 15 Topics</span>
            </div>
            <div class="subforum-info subforum-column center">
                <p><a href="">Last post</a> by <a href="">JustAUser</a>
                <br><small>on 22 Dec 2021</small></p>
            </div>
        </div>
        <hr class="subforum-divider">
        <div class="subforum-row">
            <div class="subforum-icon subforum-column center">
                <!-- space for subforum-icon -->
                <!-- <i class="fa fa-car"></i> -->
            </div>
            <div class="subforum-description subforum-column">
                <h1><a href="">Description Title:</a></h1>
                <p>Description content</p> 
                <!-- Add the description content above -->
            </div>
            <div class="subforum-stats subforum-column center">
                <span>24 Posts | 15 Topics</span>
            </div>
            <div class="subforum-info subforum-column center">
                <p><a href="">Last post</a> by <a href="">JustAUser</a>
                    <br><small>on 22 Dec 2021</small></p>
                </div>
            </div>
            <hr class="subforum-divider">
        <div class="subforum-row">
            <div class="subforum-icon subforum-column center">
                <!-- space for subforum-icon -->
                <!-- <i class="fa fa-car"></i> -->
            </div>
            <div class="subforum-description subforum-column">
                <h1><a href="">Description Title:</a></h1>
                <p>Description content</p> 
                <!-- Add the description content above -->
            </div>
            <div class="subforum-stats subforum-column center">
                <span>24 Posts | 15 Topics</span>
            </div>
            <div class="subforum-info subforum-column center">
                <p><a href="">Last post</a> by <a href="">JustAUser</a>
                    <br><small>on 22 Dec 2021</small></p>
                </div>
        </div>
        <hr class="subforum-divider">
        <div class="subforum-row">
            <div class="subforum-icon subforum-column center">
                <!-- space for subforum-icon -->
                <!-- <i class="fa fa-car"></i> -->
            </div>
            <div class="subforum-description subforum-column">
                <h1><a href="">Description Title:</a></h1>
                <p>Description content</p> 
                <!-- Add the description content above -->
            </div>
            <div class="subforum-stats subforum-column center">
                <span>24 Posts | 15 Topics</span>
            </div>
            <div class="subforum-info subforum-column center">
                <p><a href="">Last post</a> by <a href="">JustAUser</a>
                    <br><small>on 22 Dec 2021</small></p>
            </div>
        </div>
        <hr class="subforum-divider">
        <div class="subforum-row">
            <div class="subforum-icon subforum-column center">
                <!-- space for subforum-icon -->
                <!-- <i class="fa fa-car"></i> -->
            </div>
            <div class="subforum-description subforum-column">
                <h1><a href="">Description Title:</a></h1>
                <p>Description content</p> 
                <!-- Add the description content above -->
            </div>
            <div class="subforum-stats subforum-column center">
                <span>24 Posts | 15 Topics</span>
            </div>
            <div class="subforum-info subforum-column center">
                <p><a href="">Last post</a> by <a href="">JustAUser</a>
                <br><small>on 22 Dec 2021</small></p>
            </div>
        </div>
        <hr class="subforum-divider">
    </div>
    <!-- more -->

    <%-include("partials/footer_forum")-%>